# General
setuptools
numpy
pandas
streamlit
PyYAML

# Data processing
ultralytics
pyyaml>=6.0
pillow>=10.0.0
opencv-python>=4.8.0
joblib

# Utilities
tqdm>=4.66.0
loguru>=0.7.0
streamlit-authenticator
